@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-BlackItalic.woff2') format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Black.woff2') format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-BoldItalic.woff2') format("woff2"), url('../fonts/Switzer-ExtraboldItalic.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Bold.woff2') format("woff2"), url('../fonts/Switzer-Extrabold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Semibold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-SemiboldItalic.woff2') format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Extralight.woff2') format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-ExtralightItalic.woff2') format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Italic.woff2') format("woff2"), url('../fonts/Switzer-VariableItalic.woff2') format("woff2"), url('../fonts/Switzer-VariableItalic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-LightItalic.woff2') format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-MediumItalic.woff2') format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Thin.woff2') format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-ThinItalic.woff2') format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer Variable;
  src: url('../fonts/Switzer-Variable.woff2') format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color--text-primary: var(--base-color-brand--dark-green);
  --link-color--link-primary: var(--base-color-brand--dark-green);
  --background-color--background-primary: var(--base-color-neutral--white);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-brand--dark-green);
  --background-color--background-secondary: var(--base-color-brand--heavy-green);
  --background-color--background-tertiary: var(--base-color-brand--slight-blue-bg);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --link-color--link-tertiary: var(--base-color-brand--buttons-secondary);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --base-color-neutral--white: #fff;
  --base-color-brand--slighter-blue-bg: #f2f8f9;
  --base-color-neutral--bg-blur: #0009;
  --base-color-brand--slight-blue-bg: #e8fcff;
  --base-color-brand--buttons-secondary: #b0f5ff;
  --base-color-brand--cyan: #21e3ff;
  --base-color-brand--dark-green: #012128;
  --base-color-brand--heavy-green: #001216;
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lightest: #ebebeb;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--slight-blue-bg);
  --link-color--link-secondary: var(--base-color-brand--cyan);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: var(--text-color--text-primary);
  font-family: Switzer, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  letter-spacing: -.04em;
  text-transform: capitalize;
  text-wrap: pretty;
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(2.25rem, 10vw, 4.75rem);
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  text-wrap: pretty;
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-xsmall {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-xlarge {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-large {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  text-transform: capitalize;
  font-size: clamp(2.25rem, 10vw, 4.75rem);
  font-weight: 500;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--link-color--link-tertiary);
  color: var(--link-color--link-primary);
  text-align: center;
  text-transform: uppercase;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  line-height: 1;
  transition: background-color .2s;
}

.button:hover {
  background-color: #21e3ff;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.is-nav {
  border-radius: .125rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  letter-spacing: -.02em;
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-image: url('../images/background.png');
  background-position: 15% 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100svh;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  z-index: 10000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.nav_outside {
  z-index: 1000;
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 54rem;
  display: flex;
  position: relative;
}

.nav_small-col {
  background-color: var(--background-color--background-primary);
  border-radius: .5rem;
  flex: none;
  min-width: 10rem;
  height: 3rem;
}

.nav_small-col.is-left {
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.375rem;
  display: flex;
}

.nav_small-col.is-right {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav_big-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  background-color: var(--background-color--background-primary);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  display: flex;
}

.nav_connector {
  z-index: 1;
  background-color: #21e3ff;
  width: 1.5rem;
  height: .25rem;
  position: absolute;
}

.nav_connector.is-left {
  left: 9.4375rem;
}

.nav_connector.is-right {
  right: 9.4375rem;
}

.nav_logo-wrapper {
  color: var(--link-color--link-primary);
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: .5625rem;
  display: flex;
}

.nav_link {
  background-color: var(--base-color-neutral--white);
  text-transform: uppercase;
  border-radius: .25rem;
  padding: .25rem 1rem;
  font-size: .75rem;
  font-weight: 500;
  transition: background-color .2s;
}

.nav_link:hover {
  background-color: var(--base-color-brand--slighter-blue-bg);
}

.nav_link.is-megamenu {
  margin-left: -1rem;
}

.nav_burger-toggle {
  background-color: var(--background-color--background-tertiary);
  border-radius: .25rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  margin-left: 0;
  margin-right: 0;
  padding: .675rem 1rem;
  display: flex;
}

.nav_burger-icon {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: .5rem;
  display: flex;
}

.dropdown-toggle {
  padding: 0;
}

.nav_burger {
  margin-left: 0;
  margin-right: 0;
  position: static;
}

.nav_megamenu {
  padding: .75rem;
  inset: 0% 0% auto;
}

.nav_megamenu.w--open {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  background-color: var(--base-color-neutral--white);
  border-radius: .5rem;
  flex-flow: column;
  justify-content: space-between;
  height: 60vh;
  display: flex;
}

.nav_megamenu_first-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1.6fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav_megamenu_second-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  grid-template-rows: auto;
  grid-template-columns: .6fr .6fr .6fr 1fr;
  grid-auto-columns: 1fr;
  place-items: end start;
  display: grid;
}

.nav_megamenu_inside-grids {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav_megamenu_inside-grids.padding-top.padding-xsmall {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  grid-template-columns: .6fr 1fr;
}

.nav_megamenu_list {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.nav_cards {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav_cards-text {
  text-transform: uppercase;
  padding-bottom: .5rem;
  font-size: .75rem;
  font-weight: 500;
}

.nav_cards-text.is-megamenu {
  margin-left: -1rem;
}

.nav_card-img {
  aspect-ratio: 5 / 4.5;
  background-color: var(--base-color-brand--slighter-blue-bg);
  object-fit: cover;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  border-radius: .25rem;
  width: 100%;
  max-height: 9rem;
  display: block;
}

.nav_card-img.is-first {
  background-image: url('../images/transfer.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav_card-img.is-second {
  background-image: url('../images/city.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav_card-img.is-third {
  background-image: url('../images/flex.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav_cta-card {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  background-color: var(--base-color-brand--slighter-blue-bg);
  background-image: url('../images/featherblur.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .25rem;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  max-height: 9rem;
  padding: .75rem;
  display: flex;
  overflow: hidden;
}

.image-2 {
  width: 130%;
  max-width: none;
  position: absolute;
  top: -31px;
  left: -39px;
}

.nav_cta-card_text {
  color: var(--text-color--text-alternate);
  text-wrap: balance;
  font-size: .875rem;
  line-height: 1.8;
}

.nav_close-btn {
  background-color: var(--background-color--background-tertiary);
  cursor: pointer;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 1.5rem;
  display: flex;
  position: absolute;
  inset: .75rem .75rem auto auto;
}

.icon-1x1-medium {
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-1x1-small {
  flex: none;
  width: 1.25rem;
  height: 1.25rem;
}

.nav_overlay {
  z-index: 100;
  background-color: var(--base-color-neutral--bg-blur);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  min-height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.main-container {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: min(81.875rem, 100vw + -1 * clamp(2rem, 9.44vw - 3.125rem, 5rem));
  display: flex;
}

.main-container.padding-bottom.padding-xlarge {
  z-index: 1;
  text-align: center;
  position: relative;
}

.heading {
  letter-spacing: -.04em;
}

.text-size-between {
  letter-spacing: -.02em;
  font-size: 1.125rem;
}

.section_hero_blur {
  background-image: linear-gradient(#0000, #000c);
  height: 35vh;
  position: absolute;
  inset: auto 0% 0%;
}

.nav_cards-holder, .nav_cards-holder.is-mobile-show {
  display: none;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .nav_fixed {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .nav_link, .nav_link:hover {
    background-color: #0000;
  }

  .nav_link.is-megamenu {
    white-space: nowrap;
  }

  .nav_link.is-megamenu.is-desktop-show {
    display: none;
  }

  .nav_megamenu.w--open {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: row;
    height: 95svh;
  }

  .nav_megamenu_first-row {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    width: 50%;
    display: flex;
  }

  .nav_megamenu_second-row {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex-flow: wrap;
    grid-template: ". . ." 1.25fr
                   "Area Area Area"
                   / .6fr .6fr .6fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    place-items: end stretch;
    width: 60%;
    display: grid;
  }

  .nav_megamenu_inside-grids {
    grid-template-columns: 1.15fr 1fr;
  }

  .nav_megamenu_inside-grids.padding-top.padding-xsmall {
    grid-template-columns: 1fr 1fr;
  }

  .nav_cards-text {
    z-index: 1;
    color: var(--text-color--text-alternate);
    position: absolute;
    inset: auto auto 0% .75rem;
  }

  .nav_card-img.is-first {
    background-image: url('../images/transfer2.png');
  }

  .nav_card-img.is-second {
    background-image: url('../images/city2.png');
  }

  .nav_card-img.is-third {
    background-image: url('../images/flex2.png');
  }

  .nav_cta-card {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    justify-content: center;
    align-items: stretch;
    max-height: 8rem;
    padding: .75rem;
  }

  .nav_cta-card_text {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .nav_fixed {
    flex-flow: row;
  }

  .nav_outside {
    flex: 1;
  }

  .nav_big-col {
    display: none;
  }

  .nav_connector.is-left {
    left: calc(50% - .75rem);
  }

  .nav_connector.is-right {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .nav_megamenu.w--open {
    flex-flow: column;
  }

  .nav_megamenu_first-row {
    width: 100%;
  }

  .nav_megamenu_second-row {
    grid-template: "."
                   "."
                   "."
                   "."
                   / 1fr;
    width: 100%;
    display: flex;
  }

  .nav_megamenu_inside-grids {
    grid-template-columns: 1fr 1fr;
  }

  .nav_cards.is-mobile-hidden {
    display: none;
  }

  .nav_card-img {
    aspect-ratio: 4;
    object-position: 50% 0%;
  }

  .nav_card-img.is-second {
    aspect-ratio: 4;
  }

  .nav_card-img.is-second.is-in-box, .nav_card-img.is-third.is-in-box {
    aspect-ratio: 5 / 4.5;
  }

  .section_hero_blur {
    display: block;
  }

  .nav_cards-holder {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
  }

  .nav_cards-holder.is-mobile-show {
    display: flex;
  }
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-b0c05b5b {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-b0c05b5b, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-b0c05b5b {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-b0c05b5b {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-b0c05b5b {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-b0c05b5b {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-b0c05b5b, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-b0c05b5b {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-b0c05b5b {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-b0c05b5b, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-b0c05b5b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-b0c05b5b {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_997acb10-6440-dc24-bd3c-c603655210fa-b0c05b58 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2512b15d-7743-e747-bb95-f45f0af47a10-b0c05b58 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2512b15d-7743-e747-bb95-f45f0af47a10-b0c05b58 {
    grid-area: Area;
  }
}


@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-BoldItalic.woff2') format('woff2'), url('../fonts/Switzer-ExtraboldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.woff2') format('woff2'), url('../fonts/Switzer-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Italic.woff2') format('woff2'), url('../fonts/Switzer-VariableItalic.woff2') format('woff2'), url('../fonts/Switzer-VariableItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer Variable';
  src: url('../fonts/Switzer-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}